.container-welcome{
    width: 246px;
    height: 317px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-welcome img{
    width: 161px;
    height: 136px;
    margin-bottom: 13px;
}

.container-welcome h2{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    align-self: center;
    margin-bottom: 30px;
}

.container-welcome .link{
    text-decoration: none;
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    color: #D70900;
    border-radius: 5px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}